@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './menu_styles.css';
@import './contact_styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
}


.header {
  background-color: #333;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
  height: 100%;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#content{
  height: calc(100vh - 68px);
}


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: center center;
    background-repeat: no-repeat;


}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 0 1rem;
  max-width: 600px;
  width: 100%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-cta {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #4a7d82;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.hero-cta:hover {
  background-color: #ffc107;
}


@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-btn-container {
    margin-top: 1rem;
  }

  .nav-btn {
    margin-left: 0;
    margin-right: 0.5rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
